// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#comments-index {
  .content-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    .contents-block {
      border: 2px solid;
      border-radius: 10px;
      width: 90%;
      padding: 20px;

      .content {
        display: flex;
        margin-bottom: 20px;
        
        .icon {
          display: flex;
          flex-flow: column;
          text-align: center;
          position: relative;
          height: 70px;

            .icon_img {
              background-color: gray;
              width: 60px;
              height: 60px;
              margin: 3px 10px;
              border-radius: 50%;
            }
            
            .name {
              position: absolute;
              bottom: 0;
              right: 10%;
              left: 10%;
              text-decoration: none;
              font-size: 70%;
              color: black;
              background-color: antiquewhite;
              border-radius: 10px;
            }
          }

        .twite {
          width: 80%;
          margin: 3px;
          background-color: beige;
          border-radius: 10px;
          padding: 5px;

          .text {
            padding: 2px;
            text-decoration: none;
            color: black;
            margin: 0;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

#comments-new, #comments-create{
  h4 {
    margin: 50px auto;
    text-align: center;
  }
  .form-group {
    width: 70%;
    margin: 15px auto;
  }

  .btn-space {
    text-align: center;
    margin-bottom: 50px;

    .btn {
      background-color: bisque;
    }
  }
}